.main
  position: relative
  width: 100vw
  overflow: hidden
  background: var(--white)
  display: flex
  flex-direction: column
  align-items: center

  .banner
    position: relative
    width: 100vw
    height: 50vh

    h2
      width: 90%
      font-size: 3rem
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 1000
      color: white

      span
        margin-left: 1rem
        font-size: 3rem
        color: var(--blue)

    img
      position: absolute
      width: 100%
      height: 50vh
      object-fit: cover

    div
      position: absolute
      width: 100%
      height: 100%
      background: rgba(0,0,0,0.5)

  .container
    margin-block: 5rem
    display: flex
    width: 100%
    justify-content: center
    align-items: center

    img
      width: 35rem
      height: 10rem
      object-fit: contain

    p
      gap: 1rem
      padding-top: 1rem
      font-size: 3rem
      max-width: 70%
      font-weight: 600
      font-size: 1.8rem
      text-align: justify

  .content
    width: 90vw
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center

    .contentInfo
      width: 50%

      h1
        font-size: 3rem

      p
        font-size: 2rem

    .contentImage
      position: relative
      width: 50%
      height: 40rem

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: .5rem