.container
  width: 100vw
  height: 100vh
  background-color: var(--black)
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 2rem

  h1
    font-size: 8rem
    color: var(--white)
    font-weight: 600

  div
    display: flex
    align-items: center

    img
      width: 50%
      height: 40rem