.container
  width: 100vw
  min-height: 100vh
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  background-color: var(--black)
  gap: 10rem
  padding: 2rem

  ul
    padding-top: 12rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .title
      color: var(--white)
      font-size: 4rem

    li
      font-size: 2rem
      padding-left: 2rem
      color: var(--lightgray)

@media (max-width: 450px)
  .container

    .title
      font-size: 2rem
      text-align: center

    li
      text-align: center
