.main
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background: var(--black)

  .container
    position: relative
    margin: 0 auto
    width: 90%
    height: 65rem
    overflow-x: scroll
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem

    &::-webkit-scrollbar
      width: 1rem
      border-radius: 1rem
    &::-webkit-scrollbar-track
      background: var(--blue)
      border-radius: 1rem

    &::-webkit-scrollbar-thumb
      border-radius: 20px
      border: 3px solid var(--white)
      background-color: var(--lightgreen)

    .card
      position: relative
      min-width: 35rem
      height: 50rem
      border-radius: .5rem
      background: var(--lightgreen)
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      gap: 2rem

      .content
        width: 100%
        display: flex
        align-items: center
        flex-direction: column
        gap: 2rem

        .contentImage
          margin-top: -6rem
          position: relative
          width: 15rem
          height: 15rem

          img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 50%
            border: .5rem solid var(--black)

        .contentInfo
          width: 100%
          display: flex
          justify-content: center
          flex-direction: column
          align-items: center

          h2
            text-align: center
            font-size: 2.5rem
            color: var(--blue)
            text-shadow: 2px 1px 1px var(--black)

          p
            text-align: center
            width: 90%
            font-size: 1.5rem
            font-weight: 600
            color: var(--white)

            span
              color: var(--black)

      h2
        text-align: center
        font-size: 1.7rem
        color: var(--dark)

      .desc
        color: var(--white)
        font-size: 1.3rem
        width: 90%
        font-weight: 600

        &::first-letter
          padding-left: 1.5rem
