.main
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  background: var(--black)
  gap: 4rem

  h1
    font-size: 5rem
    color: var(--white)

  p
    text-align: center
    max-width: 90%
    font-size: 2rem
    color: var(--gray)

  a
    display: block
    width: 30rem
    height: 5rem
    background: var(--blue)
    color: var(--white)
    display: flex
    justify-content: center
    align-items: center
    font-weight: 600
    font-size: 2.2rem
    transition: all .4s ease-in-out
    opacity: .5
    letter-spacing: .1rem

    &:hover
      letter-spacing: .2rem
      opacity: 1
